<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP_PreguntadOrt.styles.css" asp-append-version="true" />

    <link rel="icon" href="/Imagenes/logo.png" type="image/png">
</head>
<body>
    <header>
        <nav>
            <li>
                <ul><img src="/Imagenes/logo.png" alt=""></ul>
                <ul><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></ul>
                <ul><a asp-area="" asp-controller="Home" asp-action="ConfigurarJuego">Jugar</a></ul>
                <ul><a asp-area="" asp-controller="Home" asp-action="Creditos">Créditos</a></ul>
            </li>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            <li>
                <ul><a asp-area="" asp-controller="Home" asp-action="creditos">Créditos © a nosotros</a></ul>
                <ul><a asp-area="" asp-controller="Home" asp-action="redesSociales">Redes sociales</a></ul>
            </li>
        </div>
        <div>
            <li>
                <ul><p>Telefono: 1124535263</p></ul>
                <ul><p>Mail: nosotros@gmail.com</p></ul>
            </li>
        </div>
      
  </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
