@{
    ViewData["Title"] = "Configuración";
}


<body class="body-config">
  <div class="contenido-config">
      <form action="Comenzar" method="get" class="form">
        <h1 class="titulo">Dificultad</h1>
        <div class="contenido-formulario">
          @{
                foreach (Dificultades dificultad in @ViewBag.listaDificultades){
                    <div class="contenido-checkbox"> <p>@dificultad.Nombre</p><input type="radio" value=dificultad.IdDificultad required name="opcionDificultad"> </div>
                }
            }
        </div>

        <h1>Categoría</h1>
        <div class="contenido-formulario">
            @{
                foreach (Categorias categoria in @ViewBag.listaCategorias){
                    <div class="contenido-checkbox"> <p>@categoria.Nombre</p><input type="radio" value=categoria.IdCategoria required name="opcionCategorias"> </div>
                }
            }
        </div>
            <h1>Username</h1>
           <input type="text" required name="username" class="form-control">


              <div class="boton">
                <button type="submit" class="boton">Comenzar a jugar</button>
              </div>
       </form>
  </div>
</body>


