@{
    ViewData["Title"] = "Créditos";
}

<body class="creditos">
    <div class="creditos-tamaño">
        <div class="centrador">
            <div class="titulo">
                <h1>Hecho por Emilia Armeno, Milena Dawidowicz y Mateo Sverdloff</h1>
              </div>
              <img src="/Imagenes/icono_creditos.png" alt="">
        </div>
        
    </div>
</body>