@{
    ViewData["Title"] = "PreguntadORT";
}


  <body class="body-index">
    <div class="contenido-index">
        <div class="centrador">
          
          <div class="titulo-index">
            <h1>PreguntadORT</h1>
          </div>
          
          <div class="boton">
            <a asp-area="" asp-controller="Home" asp-action="ConfigurarJuego">Comenzar a jugar</a>
          </div>
          <img src="Imagenes/logo.png" alt="">
        </div>
    </div>
  </body>

